body {
  overflow-y: scroll;
}

.header {
  background-color: rgb(4, 67, 104);
  height: 2rem;
  padding: 1rem;
  color: white;
  text-align: center;
}

.title {
  font-size: 1.5em;
}

section {
  text-align: center;
}


table.routes-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

.routes-table th,
.routes-table td {
  text-align: left;
}

.routes-table td {
  padding: .25rem;
  border: none;
}

.routes-table tr:nth-of-type(2n) td {
  background-color: #eee;
}

select {
  margin: 0 .5em;
}

.map {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination button {
  margin: 0 .5em;
}

svg circle:hover {
  cursor: crosshair;
}

svg path {
  stroke: white;
  stroke-width: 0.2;
}

svg circle.source {
  fill: lightgreen;
  r: 0.8;
}

svg circle.destination {
  stroke: red;
  stroke-width: .3;
  fill: transparent;
  r: 0.9;
}

svg g.legend circle {
  r: 1.5;
}

svg g.legend text {
  font-size: .3em;
}

svg g.legend text.title {
  font-size: .4em;
  font-weight: bold
}
